<div class="container">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active"><a routerLink="/entries">Lançamento</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{pageTitle}}</li>
    </ol>
  </nav>
  <div class="container__content">
    <div class="row">
      <div class="col-md-9">
        <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
      </div>
      <div class="col-md-3">
        <a class="btn btn-light float-right" routerLink="/entries"><< Voltar</a>
      </div>
    </div>
    <form [formGroup]="entryForm" (submit)="submitForm()" class="mt-3">
      <div class="card">
        <div class="card-header">Informações sobre o lançamento</div>
        <div class="card-body">
          <div class="form-row">
            <!-- type -->
            <div class="form-group col-md-2">
              <label for="type">Tipo</label>
              <select name="type" id="type" formControlName="type" class="form-control">
                <option value="expense">Despesa</option>
                <option value="revenue">Receita</option>
              </select>
              <div class="text-danger" *ngIf="entryForm.get('type').invalid && entryForm.get('type').touched">
                <p *ngIf="entryForm.get('type').errors.required">Dados obrigatórios</p>
              </div>
            </div>
            <!-- entry -->
            <div class="form-group col-md-6">
              <label for="name">Lançamento</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nome do lançamento">
              <div class="text-danger" *ngIf="entryForm.get('name').invalid && entryForm.get('name').touched">
                <p *ngIf="entryForm.get('name').errors.required">Dados obrigatórios</p>
                <p *ngIf="entryForm.get('name').errors.minlength">Deve ter no mínimo 2 caracteres</p>
              </div>
            </div>
            <!-- amount -->
            <div class="form-group col-md-2">
              <label for="amount">Valor</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">R$</div>
                </div>
                <input [imask]="imaskConfig" type="text" class="form-control text-right" id="amount" formControlName="amount" placeholder="Valor do lançamento">
              </div>
              <div class="text-danger" *ngIf="entryForm.get('amount').invalid && entryForm.get('amount').touched">
                <p *ngIf="entryForm.get('amount').errors.required">Dados obrigatórios</p>
              </div>
            </div>
            <!-- date -->
            <div class="form-group col-md-2">
              <label for="date">Data</label>
              <p-calendar
              id="date"
              formControlName="date"
              inputStyleClass="form-control"
              dataType="string"
              dateFormat="dd/mm/yy"
              [locale]="ptBr"
              [showButtonBar]="true">
              </p-calendar>
              <div class="text-danger" *ngIf="entryForm.get('date').invalid && entryForm.get('date').touched">
                <p *ngIf="entryForm.get('date').errors.required">Dados obrigatórios</p>
              </div>
            </div>
          </div>

          <div class="form-row">
            <!-- description -->
            <div class="form-group col-md-8">
              <label for="description">Descrição</label>
              <input type="text" class="form-control" id="description" formControlName="description" placeholder="Descrição do lançamento">
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-danger mt-5" *ngIf="serverErrorMessages">
        <strong>Erro no servidor: </strong>
        <ul class="ml-4">
          <li *ngFor="let error of serverErrorMessages">{{error}}</li>
        </ul>
      </div>
      <button [disabled]="submittingForm || entryForm.invalid" type="submit" class="btn btn-primary float-right mt-3">Salvar</button>
      <div style="clear: both"></div><!-- bugfix for float property-->
    </form>
  </div>

</div>
